.page-nav {
	min-width: @page-width-normal;
	height: @page-nav-height;
	background-color: #fff;
	box-shadow: 0 0 8px rgba(0, 0, 0, .08);
	padding: 0 30px;
}

.page-nav-left {

}

.page-nav-right {
	.menus-gourp {
		&:hover {
			.menus-item {
				&.active {
					border-color: transparent;
				}
			}
		}
	}
	.menus-item {
		border-top: 3px solid transparent;
		padding: 0 20px;
		line-height: @page-nav-height - 3px;
		color: #404040;
		transition: all .5s ease;
		& + .menus-item {
			margin-left: 40px;
		}
		&.active {
			border-color: #108ee9;
			color: #108ee9;
		}
		&:hover{
			border-color: #108ee9 !important;
			color: #108ee9 !important;
		}
	}
}
